/** ICOMOON **/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jawttv');
  src:  url('fonts/icomoon.eot?jawttv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jawttv') format('truetype'),
    url('fonts/icomoon.woff?jawttv') format('woff'),
    url('fonts/icomoon.svg?jawttv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notebook-text:before {
  content: "\e900";
}
.icon-calculator:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator1:before {
  content: "\e940";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-file-pdf:before {
  content: "\eadf";
}  

/** /ICOMOON **/

/** ANIMATE **/
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }
  .animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animate__animated.animate__repeat-1 {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: var(--animate-repeat);
    animation-iteration-count: var(--animate-repeat);
  }
  .animate__animated.animate__repeat-2 {
    -webkit-animation-iteration-count: calc(1 * 2);
    animation-iteration-count: calc(1 * 2);
    -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
    animation-iteration-count: calc(var(--animate-repeat) * 2);
  }
  .animate__animated.animate__repeat-3 {
    -webkit-animation-iteration-count: calc(1 * 3);
    animation-iteration-count: calc(1 * 3);
    -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
    animation-iteration-count: calc(var(--animate-repeat) * 3);
  }
  .animate__animated.animate__delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
  }
  .animate__animated.animate__delay-2s {
    -webkit-animation-delay: calc(1s * 2);
    animation-delay: calc(1s * 2);
    -webkit-animation-delay: calc(var(--animate-delay) * 2);
    animation-delay: calc(var(--animate-delay) * 2);
  }
  .animate__animated.animate__delay-3s {
    -webkit-animation-delay: calc(1s * 3);
    animation-delay: calc(1s * 3);
    -webkit-animation-delay: calc(var(--animate-delay) * 3);
    animation-delay: calc(var(--animate-delay) * 3);
  }
  .animate__animated.animate__delay-4s {
    -webkit-animation-delay: calc(1s * 4);
    animation-delay: calc(1s * 4);
    -webkit-animation-delay: calc(var(--animate-delay) * 4);
    animation-delay: calc(var(--animate-delay) * 4);
  }
  .animate__animated.animate__delay-5s {
    -webkit-animation-delay: calc(1s * 5);
    animation-delay: calc(1s * 5);
    -webkit-animation-delay: calc(var(--animate-delay) * 5);
    animation-delay: calc(var(--animate-delay) * 5);
  }
  .animate__animated.animate__faster {
    -webkit-animation-duration: calc(1s / 2);
    animation-duration: calc(1s / 2);
    -webkit-animation-duration: calc(var(--animate-duration) / 2);
    animation-duration: calc(var(--animate-duration) / 2);
  }
  .animate__animated.animate__fast {
    -webkit-animation-duration: calc(1s * 0.8);
    animation-duration: calc(1s * 0.8);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
    animation-duration: calc(var(--animate-duration) * 0.8);
  }
  .animate__animated.animate__slow {
    -webkit-animation-duration: calc(1s * 2);
    animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
    animation-duration: calc(var(--animate-duration) * 2);
  }
  .animate__animated.animate__slower {
    -webkit-animation-duration: calc(1s * 3);
    animation-duration: calc(1s * 3);
    -webkit-animation-duration: calc(var(--animate-duration) * 3);
    animation-duration: calc(var(--animate-duration) * 3);
  }
  
@-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  @keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  .animate__swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
  }

  @-webkit-keyframes babystreet-swing {
    0% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes babystreet-swing {
    0% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}


/** ANIMATE **/

/** LOADER **/

.mask-semi{
    background: rgba(255,255,255,.5);
}
.mask-normal{
    background: #fff;
}
.mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.mask img {
    background-color: #f5b228;
    box-shadow: 0 0 0 3px #f5b228;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px dashed #ffffff;
    border-radius: 100%;
    padding: 10px 10px;
    -webkit-animation: babystreet-swing ease-in-out 0.5s infinite alternate;
    animation: babystreet-swing ease-in-out 0.5s infinite alternate;
}
.mask .mask-position{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*  Raleway */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);

/** LOADER **/


@font-face {
    font-family: 'Karla';
    src: local('fonts/Karla-Regular.ttf'),
         url('fonts/Karla-Regular.ttf?#iefix') format('embedded-opentype'),
         url('fonts/Karla-Regular.ttf') format('woff'),
         url('fonts/Karla-Regular.ttf') format('truetype'),
         url('fonts/Karla-Regular.ttf#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: local('fonts/Lora/static/Lora-Regular.ttf'),
       url('fonts/Lora/static/Lora-Regular.ttf?#iefix') format('embedded-opentype'),
       url('fonts/Lora/static/Lora-Regular.ttf') format('woff'),
       url('fonts/Lora/static/Lora-Regular.ttf') format('truetype'),
       url('fonts/Lora/static/Lora-Regular.ttf#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('fonts/Lato/Lato-Regular.ttf'),
       url('fonts/Lato/Lato-Regular.ttf?#iefix') format('embedded-opentype'),
       url('fonts/Lato/Lato-Regular.ttf') format('woff'),
       url('fonts/Lato/Lato-Regular.ttf') format('truetype'),
       url('fonts/Lato/Lato-Regular.ttf#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body::before {
    background-image: url(../img/sc-background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    content: " ";
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
img{
    max-width: 100%;
}
.menu .wcfm_menu_logo {
  text-align: center;
  width: 100%;
  height: 90px;
  background-color: #F6B32B;
}

.wcfm_menu_logo h4, .wcfm_menu_logo h4 a, .wcfm_menu_no_logo h4, .wcfm_menu_no_logo h4 a {
    color: #fff;
    display: block;
    font-size: 18px;
    float: left;
    line-height: 60px;
    text-align: left;
    margin: 0 auto;
}
h4, .babystreet-counter-h4, .babystreet-typed-h4 {
    color: #444444;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.menu a.wcfm_store_logo_icon {
    /*background: url(./images/logo.png);*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 57px;
}
.wcfm_menu_logo img {
  width: 60px;
  height: 60px;
  margin: 15px 0 10px -20px;
  
}
.menu {
    width: 100px;
    flex: 1 auto;
    border-right: #ccc 0 solid;
    background: white;
    box-shadow: 0 0 25px rgb(0 0 0 / 27%);
    padding-bottom: 100px;
    z-index: 11;
    transition: all 1s;
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
}
.menu .wcfm_menu_items {
    position: relative;
    width: 100%;
    display: block;
    transition: all .5s ease;
}
.menu .wcfm_menu_items.wcfm_menu_home {
    margin-top: 15px;
}
.menu .wcfm_menu_items {
    padding: 0 0;
}
.menu .wcfm_menu_items a.wcfm_menu_item.active {
    background: #f5b228;
}


.menu .wcfm_menu_items a.wcfm_menu_item.active span{
    color:#fff;
    font-weight:500;
    font-size:15px;
}
.menu .wcfm_menu_logo a:not(.wcfm_store_logo_icon) {
    line-height: 85px;
    padding-left: 20px;
    text-transform: upprcase;
    font-family: 'Karla';
    font-size: 22px;
    padding-top: 1px;
    color: #848484;
    text-decoration:none;
}
.menu .wcfm_menu_items a.wcfm_menu_item:hover {
    background: rgb(0 0 0 / 10%);
}
.content {
    background-color: rgba(236,238,242,75%);
    min-height: 100vh;
}



/* HEADING */
.menu .wcfm_menu_items a.wcfm_menu_item {
    height: 70px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-left: 26px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #494949;
}
.wcfm-page-headig {
    background: transparent !important;
    padding: 0;
    min-height: 68px;
    border-bottom: 2px dashed rgb(0 0 0 / 0.2);
    margin: 10px;
    width: calc(100% - 20px);
}
.wcfm-page-headig, .wcfm_menu_logo, .wcfm_menu_no_logo {
    position: relative;
    box-shadow: none !important;
    background: transparent;
}
.wcfm-page-headig {
    background: transparent !important;
    padding: 0;
    min-height: 68px;
    border-bottom: 2px dashed rgb(0 0 0 / 0.2);
    margin: 10px;
    width: calc(100% - 20px);
}
.wcfm-page-headig .wcfmfa {
    font-size: 20px !important;
}
div[class*=" fa-"], div[class*=" fa-"]:before, div[class*=fa-], div[class^=fa-]:before, div.wcfm_buttons [class*=" fa-"], div.wcfm_buttons [class*=fa-] {
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 300;
}
.wcfm-page-headig .wcfm-page-heading-text {
    margin-top: 25px;
    margin-left: 8px;
    transition: all .5s ease;
    color: #17a2b8;
}
.wcfm-page-headig .wcfm-page-heading-text {
    font-size: 20px;
    color: #494949 !important;
}
.wcfm-store-name-heading-text {
    display: none;
}
.wcfm_header_panel {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
}
#wcfm_menu .wcfm_menu_items a, .wcfm-collapse a {
    border-bottom: 0;
}
.wcfm_header_panel a {
    color: #fff;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
    text-decoration: none!important;
    transition: color .2s ease;
}
.wcfm_header_panel a.wcfm_header_panel_profile {
    float: right;
    margin-right: 12px;
    margin-top: 0;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 45px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
}
.wcfm_header_panel .wcfm_header_panel_profile img, .wcfm_header_panel img.wcfm_header_panel_profile_img {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
}
.wcfm_header_panel a {
    color: #fff;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
    text-decoration: none!important;
    transition: color .2s ease;
}
.wcfm_header_panel a.wcfm_header_panel_messages .notification-ring, .wcfm_header_panel a.wcfm_header_panel_enquiry .notification-ring, .wcfm_header_panel a.wcfm_header_panel_notice .notification-ring {
    border: 1px solid #e85656;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -18px;
    right: -14px;
    -webkit-animation: pulsate 8s ease-out;
    animation: pulsate 8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
}
.wcfm_header_panel .unread_notification_count {
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 13px;
    text-shadow: none;
    line-height: 11px;
    background-color: #e85656;
    position: absolute;
    top: -10px;
    right: -14px;
    font-size: 11px;
}
.content{
    position: relative;
    float: right;
    width: 81%;
    display: block;
}

/* HEADING */

.wcfm-container.booking{
    box-shadow: 5px 5px 15px rgb(0 0 0 / 15%) !important;
    border-radius: 7px !important;
    background-color: #fff;
    padding: 20px;
}
.contact-form input:not([type="checkbox"], [type="radio"]), .contact-form select, .contact-form textarea{
    padding: 8px 10px;
    margin-bottom: 15px;
    margin-right: 0;
    font-size: 15px;
    display: inline-block;
    line-height: 18px;
    min-height: 35px;
    max-width: 100%;
    box-shadow: 1px 1px 5px 0 #e9e9e9;
}

.btn-default{
    background-color: #f5b228;
    box-shadow: 0 0 0 3px #f5b228;
    cursor: pointer;
    font-size: 13px;
    color: #ffffff;
    padding: 11px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px dashed #ffffff;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2em;
    outline: none;
    text-decoration: none;
}
.btn-default:hover{
    background-color: #444444 !important;
    box-shadow: 0 0 0 3px #444444;
    color: #fff;
}
.dt-buttons .dt-button {
    color: #fff !important;
    background-color: #4361ee!important;
    border-color: #4361ee;
    margin-bottom: 5px;
    margin-right: 5px;
}

/****************
**** GALLERY ****
*****************/
.image-gallery {
    height: 180px;
    overflow: hidden;
    margin: 10px 0px;
    border-radius: 14px;
    position: relative;
}
.image-gallery label {
    height: 100%;
    display: inline-block;
    margin: 0px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    cursor: pointer;
}
.image-gallery input[type=checkbox], input[type=radio] {
    visibility: hidden;
}
.image-gallery img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
    max-width: 100%;
}
.image-gallery .rec-image {
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,.2);
    top: 0px;
    position: absolute;
    border-radius: 14px;
    overflow: hidden;
}
.image-gallery input:checked + .rec-image{
    border: solid 2px #000;
    background-color: rgba(1,1,1,.5);
}
.card-gallery img{
    height: 80px;
}
.card-gallery img.principal{
    height: 160px;
    cursor: pointer;
}
.controls-gallery span {
    border: solid 1px #000;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    display: inline-block;
    line-height: .8;
    padding: 0px 2px;
    cursor: pointer;
    font-size: 14px;
}
.video-prod .dropify-wrapper p {
    font-size: 14px;
}
.top-fila::before {
    content: " ";
    float: left;
    position: absolute;
    width: 18px;
    height: 8px;
    border-top: solid 2px #aaa;
    border-bottom: solid 2px #aaa;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.top-fila::after {
    content: "▼";
    color: #aaa;
    font-weight: 900;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

input[name="addons_agg_desc[]"] + textarea{
    display:none;
}
input[name="addons_agg_desc[]"]:checked + textarea {
    display: block!important;
}


/******  PEDIDOS *******/


.order-status {
    padding: 4px 4px;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    line-height: 10px;
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
    background-color: #20a8d8;
}
.order-status-pending { background-color: #f8cb00; }
.order-status-processing { background-color: #20c997; }
.order-status-completed { background-color: #4dbd74; }
.order-status-failed { background-color: #ffc107; }
.order-status-cancelled { background-color: #f86c6b; }
.order-status-on-hold { background-color: #6d6d6d; }
.order-status-refunded { background-color: #e83e8c; }
.order-status-shipped { background-color: #20a8d8; }

.p-40{
    padding: 40px!important;
  }
.btn.normal-default{
padding: 10px;
background-color: #f5b228;
border-radius: 15px;
color: #fff;
border: solid 1px;
width: 100%;
max-width: 200px;
  transition: all .3s;
}
#button-1.btn.normal-default:hover{
opacity: 0.7;
}
.normal-default img{
width: 14px;
top: -2px;
position: relative;
}
.input-default{
padding: 10px!important;
border-radius: 15px!important;
border: solid 1px!important;
}
.px-40{
padding: 0px 40px;
}
.pl-20{
padding-left: 20px;
}
.controls-balance {
border-radius: 30px!important;
padding: 0px!important;
display: flex;
overflow: hidden;
}
.controls-balance .btn {
width: 50%;
display: inline-block;
text-align: center;
padding: 20px 10px;
background-color: #fff;
color: #888;
}
.controls-balance .btn.active {
background-color: #888;
color: #fff;
}
.caja-tabla {
border-radius: 30px!important;
padding: 25px;
overflow: hidden;
background: #fff;
}
.btn.next {
color: #777777!important;
margin: 0px 40px;
font-family: 'Karla';
}
.text-right{
text-align: right;
}
.color-yellow {
color: #f5b228;
}
.color-link-google{
  color: #1a0dab;
}
span.max-number{
  font-size: 22px;
  font-weight: 700;
}
.saldo{
font-weight: 600;
}
.saldo.pos{
color: #30bc51;
}
.saldo.neg{
color: #fa1b1b;
}
.tabla-saldos tr{
padding-top: 15px;
padding-bottom: 15px;
border-bottom: 1px solid;
}
#wcfm-main-contentainer table {
text-align: center!important;
}
#wcfm-main-contentainer table tbody td {
border-bottom: 1px solid #ccc!important;
padding: 20px 0px!important;
text-align: center!important;
}
#wcfm-main-contentainer table tbody td:first-child {
text-align: left!important;
padding-left: 20px!important;
}
#wcfm-main-contentainer table thead th {
text-align: center!important;
}
#wcfm-main-contentainer table thead th:first-child {
text-align: left!important;
padding-left: 20px!important;
}
span.status {
border-radius: 10px;
color: #fff;
padding: 5px 10px;
  font-size: 14px;
}
.status.pos{
  background-color: #22b745;
}
.status.pen{
  background-color: #ffb764;
}
.status.rej{
  background-color: red;
}

.wcfm-container.caja-tabla table th, .wcfm-container.caja-tabla table td{
  padding:20px;
  background-color: #fff;
  vertical-align: middle;
  font-size:15px;
  color:#707070;
  text-align: center;
}
.wcfm-container.caja-tabla table th{
    color:#f5b228;
    font-weight: 500;
    border-bottom: 1px solid #707070;
    text-align: center;
}
.wcfm-container.caja-tabla table tr{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.return{
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 18px;
  font-weight: 600;
  transform: translateY(-50%);
}
.bg-transparent{
  background: transparent;
}
.btn-back {
  border-radius: 100%;
  filter: drop-shadow(5.657px 5.657px 3.5px rgba(0,0,0,0.16));
  background-color: #ffffff;
  width: 39px;
  height: 39px;
}

.div-progress-bar{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}

.list-inline li{
  display: inline;
}

.check_online {
  appearance: none;
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.check_online + span {
  top: 0px;
  left: 0px;
  content: "";
  width: 45px;
  height: 24px;
  transition: background 0.4s;
  position: relative;
  display: inline-block;
  margin-right: 18px;
  vertical-align: middle;
  border-radius: 60px;
  right: 1px;
  background-color: #e1e1e1;
  cursor: pointer;
}
.check_online + span::before {
  content: "Offline";
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Karla';
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}
.check_online + span::after {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 2px;
  left: 2px;
}

.check_online:checked + span::after {
  left: 23px;
}

.check_online:checked + span::before {
  content: "Online";
}
.check_online:checked + span {
  background: #1FD161;
}

.pedidos-top ul.list-inline {
  margin: 0px;
}
.pedidos-top li a {
  color: #000;
  padding: 10px;
  display: inline-block;
  border: solid 2px #c3c3c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.pedidos-top li a.active {
  color: #f5b228;
  border: solid 2px #f5b228;
  border-bottom: none;
}



/** NOTAS INTERNAS **/

.chat-notas-pedidos {
  box-shadow: 0px 8px 24px #4d4d4d53;
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
}
.chat-notas-pedidos .cabecera {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #EDEDED;
  border: 2px solid #D0D0D0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chat-notas-pedidos .cabecera h3 {
  font-size: 20px;
  font-family: Lora, sans-serif;
  color: #636363;
  font-weight: 600;
  margin-bottom: 0px;
}
.mensaje-recibido{
  background: #c0fec5;
  border-radius: 10px;
  box-shadow: 0px 4px 14px #e2e2e2;
  padding: 10px 20px;
}
.mensaje-enviado{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 14px #e2e2e2;
  padding: 10px 20px;
}
.chat-notas-pedidos .cuerpo {
  max-height: 300px;
  overflow-y: scroll;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 2px solid #D0D0D0;
  border-right: 2px solid #D0D0D0;
}
.chat-notas-pedidos .notificacion {
  background: #ffe082;
}
.chat-notas-pedidos .pie-chat {
  background: #EDEDED;
  padding: 20px 15px;
  border: solid 2px #D0D0D0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.chat-notas-pedidos input:not([type="checkbox"], [type="radio"]), .chat-notas-pedidos select, .chat-notas-pedidos textarea {
  padding: 8px 10px;
  margin-bottom: 0px;
  margin-right: 0;
  display: inline-block;
  min-height: 35px;
  max-width: 100%;
  box-shadow: 1px 1px 5px 0 #e9e9e9;
  border-radius: 33px;
  border: 1px solid #BEBEBE;
  font-family: Karla;
  font-weight: bold;
}
.chat-notas-pedidos label{
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
}
.chat-notas-pedidos button {
  border-radius: 33px;
  padding: 5px 25px;
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
}
a.btn-mostrar-vendedor {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 1px;
  cursor: pointer;
}

/** /NOTAS INTERNAS **/



/* TABLA PEDIDOS DASHBOARD */
.tabla-pedidos thead, .tabla-pedidos thead th, .tabla-pedidos thead tr {
  border: none;
}
.tabla-pedidos table{
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 15px 8px 24px #7090b026;
  border-radius: 15px!important;
  margin-bottom: 20px;
}
.relative-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.tabla-pedidos p {
  margin: 0;
  color: #5F5F5F;
  font-weight: 500;
  font-family: 'Karla';
}
.tabla-pedidos tbody td {
  margin: 0;
  color: #5F5F5F;
  font-weight: 500;
  font-family: 'Karla';
}
.tabla-pedidos img {
  height: 76px;
  border: solid 1px #EEEEEE;
  border-radius: 5px;
}
.tabla-pedidos td {
  padding: 5px;
  vertical-align: middle;
}
.tabla-pedidos a.btn {
  position: relative;
  top: 19px;
}
.tabla-pedidos thead {
  background: #E8E8E8;
  width: 100%;
  display: inline-table;
}
.tabla-pedidos tbody tr td {
  border: none;
}
.tabla-pedidos tbody {
  border: none;
}
.recuadro-retrasos{
  display: inline-block;
  background: #FF5555;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "Karla";
  font-weight: 600;
  position: relative;
  top: 19px;
}
.tabla-pedidos tbody tr td:first-child {
    min-width: 150px;
}

.ModalNotificacion .modal-content {
  border: solid 2px #707070;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
}
.ModalNotificacion .modal-header {
  text-align: center;
  background: #F3F3F3;
}
.ModalNotificacion .modal-header h5 {
  width: 100%;
  font-weight: 600;
  font-family: "Karla";
  font-size: 22px;
  margin-bottom: 0px;
}
.ModalNotificacion .close span {
  font-size: 32px;
  line-height: 0.75;
}
.btn-primary.new {
  background: #F5B228;
  border: solid 1px #707070;
  border-radius: 32px;
  padding: 10px 17px;
  font-family: "Karla";
  font-size: 16px;
  width: 100%;
  max-width: 250px;
}
.btn-secondary.new {
  border: solid 1px #707070;
  border-radius: 32px;
  padding: 10px 17px;
  font-family: "Karla";
  font-size: 16px;
  width: 100%;
  max-width: 250px;
}

/* /TABLA PEDIDOS DASHBOARD */

