#wcfmmp-store .banner_text h1, #wcfmmp-store .video_text h1, #wcfmmp-store .slider_text h1, #wcfmmp-store h1.wcfm_store_title, #wcfmmp-store .address h1.wcfm_store_title{
	color: #ffffff!important;
}

#wcfmmp-store .banner_text h1:after, #wcfmmp-store .banner_text h1:before{
	background: #ffffff!important;
}

#wcfmmp-store #wcfm_store_header{
	background: #2f2f2f!important;
}

#wcfmmp-store .social_area{
	background: #212121!important;
}

#wcfmmp-store .address span, #wcfmmp-store .address a, #wcfmmp-store .address h1, #wcfmmp-store .address h2, #wcfmmp-store .social_area ul li:hover i{
	color: #ffffff!important;
}

#wcfmmp-store .social_area ul li{
	background: #ffffff!important;
}

#wcfmmp-store .address i, #wcfmmp-store .bd_icon i, #wcfmmp-store .social_area ul li, #wcfmmp-store .social_area ul li a i{
	color: #17a2b8!important;
}

#wcfmmp-store .social_area ul li:hover{
	background: #17a2b8!important;
}

#wcfmmp-store .left_sidebar, #wcfmmp-stores-lists .left_sidebar{
	background: #efefef!important;
}

#wcfmmp-store .sidebar_heading h4, #wcfmmp-store .reviews_heading, #wcfmmp-store h2, #wcfmmp-store .user_name{
	color: #525252!important;
}

.store-data-container .store-phone i{
	background: #525252!important;
}

#wcfmmp-store .categories_list ul li a, .store-data-container .store-address, .store-data-container .store-phone{
	color: #9f9e9e!important;
}

#wcfmmp-store .tab_area .tab_links li a{
	color: #999999!important;
}

#wcfmmp-store .tab_area .tab_links li:hover a, #wcfmmp-store .tab_area .tab_links li.active a, .wcfmmp_store_hours .wcfmmp-store-hours-day{
	color: #17a2b8!important;
}

#wcfmmp-store .tab_area .tab_links li:after{
	background: #17a2b8!important;
}

#wcfmmp-store .tab_area .tab_links li.active{
	border-top-color: #17a2b8!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-4 .store-data-container .store-data .store-phone i, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-5 .store-data-container .store-data .store-phone i{
	color: #17a2b8!important;
}

#wcfmmp-stores-wrap .paginations ul li span.current, #wcfmmp-stores-wrap .paginations ul li a:hover{
	background: #17a2b8!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-wrapper .store-content{
	border-bottom-color: #17a2b8!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data h2 a{
	color: #000000!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data-container .store-address, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data-container .store-phone{
	color: #ffffff!important;
}

#wcfmmp-store .add_review button, #wcfmmp-store .user_rated, #wcfmmp-store .bd_icon_box .follow, #wcfmmp-store .bd_icon_box .wcfm_store_enquiry, #wcfmmp-store .bd_icon_box .wcfm_store_chatnow, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store, .wcfm_vacation_msg, .wcfm_store_close_msg{
	background: #17a2b8!important;
}

#wcfmmp-store .reviews_heading a, #wcfmmp-store .reviews_count a{
	color: #17a2b8!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-content, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store{
	border-bottom-color: #17a2b8!important;
}

#wcfmmp-store .add_review button, #wcfmmp-store .user_rated, #wcfmmp-store .bd_icon_box .follow, #wcfmmp-store .bd_icon_box .wcfm_store_enquiry, #wcfmmp-store .bd_icon_box .wcfm_store_chatnow, #wcfmmp-store .bd_icon_box .follow span, #wcfmmp-store .bd_icon_box .wcfm_store_enquiry span, #wcfmmp-store .bd_icon_box .wcfm_store_chatnow span, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store, .wcfm_vacation_msg, .wcfm_store_close_msg{
	color: #ffffff!important;
}

#wcfmmp-store .add_review button:hover, #wcfmmp-store .bd_icon_box .follow:hover, #wcfmmp-store .bd_icon_box:hover .wcfm_store_enquiry:hover, #wcfmmp-store .bd_icon_box .wcfm_store_chatnow:hover, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry:hover, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store:hover{
	background: #000000!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry:hover, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store:hover{
	border-bottom-color: #000000!important;
}

#wcfmmp-store .add_review button:hover, #wcfmmp-store .bd_icon_box a.follow:hover, #wcfmmp-store .bd_icon_box a.wcfm_store_enquiry:hover, #wcfmmp-store .bd_icon_box a.wcfm_store_chatnow:hover, #wcfmmp-store .bd_icon_box a.follow:hover span, #wcfmmp-store .bd_icon_box a.wcfm_store_enquiry:hover span, #wcfmmp-store .bd_icon_box a.wcfm_store_chatnow:hover span, #wcfmmp-store .bd_icon_box a.follow:hover i, #wcfmmp-store .bd_icon_box a.wcfm_store_enquiry:hover i, #wcfmmp-store .bd_icon_box a.wcfm_store_chatnow:hover i, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry:hover, #wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry:hover span, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store:hover, #wcfmmp-stores-wrap .store-footer a.wcfmmp-visit-store:hover span{
	color: #ffffff!important;
}

#wcfmmp-store .rating_box i.selected, #wcfmmp-store .rating-stars ul > li.star.selected > i.wcfmfa, .store-data-container .star-rating span::before, .logo_area_after .wcfmmp-store-rating span:before{
	color: #ff912c!important;
}



/***  A partir de aqui ***/

/*
Styles called from functions.php, for wcfm panel
*/





/* --------------------------------- */
/* ------- GENERAL AND FIXES ------- */
/* --------------------------------- */





/* ------- content loader ------- */


body .wcfm-collapse-content,
body #wcfm-main-contentainer .wcfm-page-headig-shortcuts {
	transition: .3s;
	opacity: 0;
}
body.wcfm-ready .wcfm-collapse-content,
body.wcfm-ready #wcfm-main-contentainer .wcfm-page-headig-shortcuts {
	opacity: 1;
}





/* ------- background ------- */


#wcfm_menu:before,
.wcfm-collapse:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: url(./images/sc-background.jpg);
	opacity: .07;
}
.wcfm-collapse:before {
    opacity: .03;
    left: 0;
}





/* ------- varios ------- */


a {
	text-decoration: none !important;
}

#wcfm-header {
    display: none !important;
}

#wcfm-main-content {
	padding: 0 !important;
}

#wcfm-main-contentainer {
	margin: 0 !important;
}

.wcfm-collapse {
	padding: 0 30px;
}

.wcfm-collapse-content {
	position: relative;
}

select {
    cursor: pointer !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./images/sc-arrows.svg);
    background-repeat: no-repeat !important;
    background-size: 12px;
    background-position: right 7px top -20px;
    transition: 0s;
}

body #wcfm-main-contentainer input[type="text"]:focus,
body #wcfm-main-contentainer input[type="number"]:focus,
body #wcfm-main-contentainer input[type="time"]:focus,
body #wcfm-main-contentainer input[type="search"]:focus,
body #wcfm-main-contentainer input[type="password"]:focus,
body #wcfm-main-contentainer textarea:focus,
body #wcfm-main-contentainer select:focus,
body #wcfm-main-contentainer .dataTables_wrapper .select2-container--open .select2-selection {
	border-color: #f5b228 !important;
}









/* ---------------------------- */
/* ------- TRADUCCIONES ------- */
/* ---------------------------- */





/* ------- "vendedores" ------- */


#wcfm_menu .wcfm_menu_wcfm-vendors span.text,
html.wcfm-page-vendors .wcfm-page-heading-text,
html.wcfm-page-vendors-new .wcfm-page-heading-text,
html.wcfm-page-vendors-manage .wcfm-page-heading-text,
html.wcfm-page-vendors .add_new_wcfm_ele_dashboard span.fa-user-times ~ .text {
    font-size: 0px !important;
	transition: 0s !important;
}

#wcfm_menu .wcfm_menu_wcfm-vendors span.text:before {
    font-size: 15px !important;
    content: 'Vendedores';
}

html.wcfm-page-vendors .wcfm-page-heading-text:before,
html.wcfm-page-vendors-new .wcfm-page-heading-text:before,
html.wcfm-page-vendors-manage .wcfm-page-heading-text:before {
    font-size: 20px !important;
    content: 'Vendedores';
}
html.wcfm-page-vendors-new .wcfm-page-heading-text:before {
    content: 'Añadir vendedor';
}
html.wcfm-page-vendors-manage .wcfm-page-heading-text:before {
    content: 'Gestionar vendedor';
}

html.wcfm-page-vendors .add_new_wcfm_ele_dashboard span.fa-user-times ~ .text:before {
    font-size: 15px !important;
    content: 'Aprobaciones pendientes';
}










/* ---------------------- */
/* ------- HEADER ------- */
/* ---------------------- */





/* ------- page header ------- */


#wcfm-main-contentainer .wcfm-page-headig,
.wcfm_menu_logo, .wcfm_menu_no_logo {
	position: relative;
	box-shadow: none !important;
    background: transparent;
}

#wcfm-main-contentainer .wcfm-page-headig {
	background: transparent !important;
	padding: 0;
	min-height: 68px;
	border-bottom: 2px dashed rgb(0 0 0 / 0.2);
	margin: 10px;
	width: calc(100% - 20px);
}

#wcfm-main-contentainer .wcfm-page-headig .wcfm_menu_toggler {
	display: none !important;
}

#wcfm-main-contentainer .wcfm-page-headig .wcfmfa {
	font-size: 20px !important;
}

#wcfm-main-contentainer .wcfm-page-headig .wcfm-page-heading-text {
	font-size: 20px;
	color: #494949 !important;
}





/* ------- page header buttons ------- */


#wcfm-main-contentainer .wcfm-page-headig-shortcuts {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 7px;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a {
    margin-bottom: 0px !important;
    padding: 5px 5px 7px;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a span {
    margin-top: 0px !important;
    color: #ffffff !important;
    vertical-align: middle;
    font-weight: 400;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a span.wcfmfa  {
    font-size: 18px !important;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a span.text:not(.hidden-text)  {
    padding-top: 2px !important;
    display: inline-block;
}

#wcfm-main-contentainer .wcfm-page-headig-shortcuts a.wcfm_screen_manager {
	padding: 0 !important;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a.wcfm_screen_manager span.wcfmfa  {
    color: #404040 !important;
    font-size: 18px !important;
    padding: 4px 0 0 2px;
}
#wcfm-main-contentainer .wcfm-page-headig-shortcuts a.wcfm_wp_admin_view {
	display: none !important;
}










/* ---------------------------- */
/* ------- SIDEBAR MENU ------- */
/* ---------------------------- */





/* ------- menu items ------- */


#wcfm_menu {
    box-shadow: 0 0 25px rgb(0 0 0 / 27%);
	position: relative;
	z-index: 999999;
}

#wcfm_menu .wcfm_menu_items {
    padding: 3px 15px;
}
#wcfm_menu .wcfm_menu_items.wcfm_menu_home {
	margin-top: 15px;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
    height: 52px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:hover {
    background: rgb(0 0 0 / 10%);
}
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item.active {
    background: #f5b228;
	text-shadow: 0 0 4px rgb(0 0 0 / 0.35);
    box-shadow: 0 2px 10px rgb(177 123 12 / 0.3);
}
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item.active span {
	color: #ffffff !important;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item span {
    font-weight: 500;
}
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:hover span {
    color: #494949;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:after,
#wcfm_menu .wcfm_menu_items > span {
    display: none !important;
}





/* ------- logo ------- */


#wcfm_menu .wcfm_menu_logo {
	margin: 15px 16px;
	width: calc(100% - 32px);
	height: 63px;
	border: 2px dashed rgb(0 0 0 / 0.2);
}

#wcfm_menu .wcfm_menu_logo a.wcfm_store_logo_icon {
	background: url(./images/logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 57px;
}
#wcfm_menu .wcfm_menu_logo a.wcfm_store_logo_icon img {
    display: none !important;
}

#wcfm_menu .wcfm_menu_logo a:not(.wcfm_store_logo_icon) {
	line-height: 57px;
	padding-left: 20px;
	text-transform: upprcase;
	font-family: 'Karla';
	font-size: 22px;
	padding-top: 1px;
	color: #848484;
}










/* ----------------------- */
/* ------- CONTENT ------- */
/* ----------------------- */





/* ------- encabezados dobles ------- */


html .wcfm-collapse-content .wcfm-top-element-container {
	padding: 10px 25px !important;
    display: none !important;
}
html.wcfm-page-products .wcfm-collapse-content .wcfm-top-element-container,
html.wcfm-page-orderslist .wcfm-collapse-content .wcfm-top-element-container,
html[class*='wcfm-page-reports-'] .wcfm-collapse-content .wcfm-top-element-container {
	display: block !important;
}





/* ------- containers - sombras y bordes ------- */


.wcfm-container,
.wcfm_dashboard_wc_status > div > div {
    box-shadow: 5px 5px 15px rgb(0 0 0 / 15%) !important;
    border-radius: 7px !important;
}

.page_collapsible {
    box-shadow: none !important;
    border-radius: 7px 7px 0 0 !important;
}
.wcfm_dashboard_wc_status .wcfm-container {
    box-shadow: none !important;
    border-radius: 0 0 7px 7px !important;
}





/* ------- table loader ------- */


.dataTables_processing {
    display: block !important;
    z-index: 200000 !important;
    position: absolute !important;
    top: 70px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: none !important;
    margin: 0 !important;
	padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    max-height: 450px !important;
    background: #ffffff !important;
    font-size: 0 !important;
	transition: .4s !important;
	transition-delay: .1s !important;
}

.dataTables_processing:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #f5b228;
    border-left-color: #f5b228;
    animation: spinner .7s linear infinite;
}
@keyframes spinner {
  0% {transform: rotate(45deg);}
  100% {transform: rotate(405deg);}
}

.dataTables_processing:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100000000px;
    background: #ffffff;
}


.dataTables_processing[style="display: none;"] {
    opacity: 0 !important;
	z-index: -10 !important;
}
.dataTables_processing[style="display: none;"]:before {
    display: none !important;;
}


.dataTables_wrapper {
	min-height: 217px;
	overflow: hidden;
}





/* ------- tablas ------- */


#wcfm-main-contentainer table.dataTable tfoot {
	display: none !important;
}
#wcfm-main-contentainer table.dataTable thead {
    background: #ffffff
}
#wcfm-main-contentainer table.dataTable thead th.sorting {
    padding-right: 11px !important;
}
#wcfm-main-contentainer table.dataTable thead th.sorting .fa-eye {
    padding-left: 1px !important;
    padding-right: 3px !important;
}





/* ------- inputs and selectors ------- */


#wcfm-main-contentainer .dataTables_wrapper .select2-container {
    height: 38px !important;
    box-shadow: none !important;
}
#wcfm-main-contentainer .dataTables_wrapper .select2-container .select2-selection {
    height: 38px !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important
}
#wcfm-main-contentainer .dataTables_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered,
#wcfm-main-contentainer .dataTables_wrapper .select2-container--default .select2-selection--single .select2-selection__arrow,
#wcfm-main-contentainer .select2-search input {
    height: 38px !important;
    line-height: 38px !important;
}


.wcfm_popup_form select,
.wcfm_popup_form input[type="text"],
#wcfm-main-contentainer input[type="password"],
#wcfm-main-contentainer input[type="text"],
#wcfm-main-contentainer select,
#wcfm-main-contentainer input[type="number"],
#wcfm-main-contentainer input[type="time"],
#wcfm-main-contentainer input[type="search"],
#wcfm-main-contentainer textarea {
    font-family: 'Karla';
    font-size: 13px !important;
    color: #222222 !important;
}

select::placeholder,
input::placeholder,
textarea::placeholder,
#wcfm-main-contentainer .dataTables_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder,
#wcfm-main-contentainer .dataTables_wrapper select#dropdown_product_type option:nth-child(1) {
    color: #888888 !important;
}


input.wcfm-date-range {
    min-width: 200px !important;
}


.dataTables_length {
    font-size: 0px;
}
.dataTables_length:after {
    content: 'items por página';
    font-size: 14px;
}
.dataTables_length select {
    width: 50px !important;
}



.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 2px solid black !important;
    border-width: 0 2px 2px 0 !important;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    margin-top: -4.6px;
    margin-left: -5px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 2px 0 0 2px !important;
    margin-top: -2px;
}





/* ------- varios ------- */
