<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMACION - ALMA DE LAS COSAS</title>
    <style type="text/css">
        /*  Raleway */
        @import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
        .texto{
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body style="text-align:center;background-color:#fff7ec;padding-top:20px; padding-bottom:20px;width:100%;">
    <div style="background-color:#fff;width:100%;max-width:600px;padding-top:10px;padding-bottom:100px;margin:auto;">
        <p>
            <a href="https://almadelascosas.com/">
                <img style="margin:auto;" width="100px" src="https://almadelascosas.com/assets/img/logo.png">
            </a>
        </p>
        <div style="width:100%;text-align:center;">
            <img style="width:100%;max-width:300px;margin:auto;" src="https://almadelascosas.com/assets/img/ILUSTRACIONES-04.png" alt="Ilutracion">
        </div>
        <h2 class="texto">¡Hola!</h2>
        <div style="position:relative; margin: 0 auto; width: 80%;  text-align: justify;">
            <p class="texto">
                Hemos detectado que estas intentando comunicarte con nosotros a traves de este E-mail, pero este correo es un automático y solo informativo.
                <br><br> 
                Si deseas enviar información o comunicarte con Alma De Las Cosas, puede enviar a este siguiente email tus datos
            </p>
        </div>
        
        <div style="width:100%; position: relative; margin: 60px 0;">
            <a style="background-color: #e6a726; font-size: 12px; text-decoration: none; box-shadow: 0px 3px 10px #ccc; border-radius: 15px;color:#fff;font-weight:600; padding:10px 40px; font-family: 'Raleway', sans-serif;" href="mailto:admin@almadelascosas.com">admin@almadelascosas.com</a>
        </div>
        <div style="position:relative; margin: 0 auto; width: 80%;  text-align: justify;">
            <center><h3 class="texto">¡Tu eres muy importante para nosotros!</h3></center>
            <p class="texto">
                Estaremos muy pendiente de tu mensaje que nos envies
            </p>
        </div>
    </div>
</body>

</html>